.card {
  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-radius: 15px;
  height: 300px;
  /* height: 90%; */
  width: 216px;
  /* width: 100%; */
  /* width: auto; */
  margin: 5px;
}

.duke {
  background-color: rgb(255, 23, 255);
}

.duke .card-info {
  background-color: rgb(248, 186, 250);
}

.assassin {
  background-color: rgb(110, 110, 110);
}

.assassin .card-info {
  background-color: rgb(202, 202, 202);
}

.captain {
  background-color: rgb(22, 76, 253);
}

.captain .card-info {
  background-color: rgb(192, 196, 253);
}

.ambassador {
  background-color: rgb(251, 209, 93);
}

.ambassador .card-info {
  background-color: rgb(250, 238, 199);
}

.contessa {
  background-color: rgb(255, 80, 80);
}

.contessa .card-info {
  background-color: rgb(255, 205, 205);
}

.card-name {
  text-align: center;
  font-size: 22px;
  margin: 0px;
  font-weight: bold;
}

.portrait {
  /* height: 200px; */
  height: 66.7%;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  margin: 5px 5px 0px;
}

.card-info {
  text-align: left;
  /* height: 50px; */
  height: 17%;
  margin: -12px 5px;
  padding: 3px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.card-info p {
  font-size: 14px;
  margin: 3px;
}

.card h3 {
  font-size: 18px;
  margin: 0px;
}