.opponents-container {
  justify-content: center;
  border-style: solid;
  border-color: black;
  /* height: 140px; */
  width: 100vw;
  margin: -11px;
  top: 0px;
}

.opponents {
  display: inline-flex;
  margin-top: -10px;
}

.opponents-title {
  margin: 5px;
  padding: 5px;
  border-bottom: solid;
  border-width: 1px;
}

.opponent {
  border-style: solid;
  border-color: black;
  margin: 10px;
}

.opponent p {
  font-size: 20px;
  margin: 0px;
}

.opponent p.opponent-name {
  color: red;
}