.App {
  text-align: center;
  font-size: 30px;
  font-family: 
    'muli',
    'roboto';
  /* font-weight: 900; */
}

.title {
  color: rgb(255, 0, 0);
}

input {
  font-size: 25px;
  height: auto;
}

button {
  background-color: lightgrey;
  margin: 10px;
  height: auto;
  font-size: 25px;
}

button.createLobby {
  background-color: rgb(44, 118, 255);
}