.App {
  text-align: center;
  font-size: 30px;
  font-family: 
    'muli',
    'roboto';
  /* font-weight: 900; */
}

.swal2-title {
  font-family: 'muli';
}

.swal2-text {
  font-family: 'muli';
}

.title {
  color: rgb(255, 0, 0);
}

input {
  font-size: 25px;
  height: auto;
}

button {
  background-color: lightgrey;
  margin: 10px;
  height: auto;
  font-size: 25px;
}

button:active {
  background-color: grey;
}

button.createLobby {
  background-color: rgb(44, 118, 255);
}

button.createLobby:active {
  background-color: rgb(46, 213, 255);
}

button.start {
  background-color: rgb(29, 175, 0)
}

button.start:active {
  background-color: rgb(138, 250, 116)
}

.player-list {
  font-size: 22px;
}

